@import "./base.css";
@import "./light-theme.css";
@import "./dark-theme.css";

html {
  overflow-y: scroll;
}

html,
body {
  margin: 0 !important;
  padding: 0 !important;
}

.indented {
  	text-indent: 2rem;
}

.navlink {
  transition: color 0.5s ease;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  margin-top: 0.75rem;
}

.navlink:hover {
  color: #3c89e8;
}

.router-link-active.navlink {
  color: #1668dc;
}

.generic-view {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.yt {
	position: absolute;
	top: 0px;
	left: 0px;
}

.ant-timeline-item {
  padding-bottom: 0.25rem !important;
}

.ant-timeline-item-last {
  padding: 0 !important;
}

.ant-timeline-item-last .ant-timeline-item-content {
  min-height: 0 !important;
}

.justify {
	text-align: justify;
}

.font-segoe {
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

.font-josefin {
  font-family: "Josefin Sans", sans-serif;
}

.font-yeseva {
  font-family: 'Yeseva One';
}

.font-madimi {
  font-family: "Madimi One";
}

.ant-input-textarea-show-count::after {
  content: none !important;
}