@import "./base.css";

body {
  background-image: url(wood3.jpg);
  background-size: 100%;
  margin: 0 !important;
}

.navlink {
  transition: color 0.5s ease;
  color: white;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  margin-top: 0.75rem;
}

.navlink:hover {
  color: lightgreen;
}

.router-link-active {
  color: lightgreen;
}

.font-segoe {
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif
}

.font-josefin {
  font-family: "Josefin Sans", sans-serif;
}

.font-yeseva {
  font-family: 'Yeseva One';
}

.font-madimi {
  font-family: "Madimi One";
}