@import "./base.css";

body {
  background-image: url(wood3.jpg);
  background-size: 100%;
  margin: 0 !important;
}

.font-segoe {
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif
}

.font-josefin {
  font-family: "Josefin Sans", sans-serif;
}

.font-yeseva {
  font-family: 'Yeseva One';
}